@import "tailwindcss";

html {
  scroll-behavior: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f8fbff;
  color: #1c1c1c;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}
